// $core-color: #50e3c2;
// $core-color-font: #35403e;

// $text-color: #707070;
// $title-color: #525252;
// $success-color: #4bbf53;
// $error-color: #ff4064;

// $color__page-bg: #fff;

$color__core: #4F908F;
$color__core-font: #35403e;

$color__bg-100: #EFF1A0;
$color__bg-150: #9BBE97;
$color__bg-200: #639C91;
$color__bg-300: #5C9891;
$color__bg-500: #037482;

$gradient-1 : linear-gradient(180deg, #6553B3 0%, rgba(101, 83, 179, 0) 100%);

$color__text: white;
$color__title: white;
$color__success: #95c11e;
$color__error: #F30B2D;

$color__overlay: rgba(0, 0, 0, 0.7);

$color__page-bg: $color__bg-300;