// $core-color: #50e3c2;
// $core-color-font: #35403e;

// $text-color: #707070;
// $title-color: #525252;
// $success-color: #4bbf53;
// $error-color: #ff4064;

// $color__page-bg: #fff;


$color__bg-100: #EFF1A0;
$color__bg-150: #9BBE97;
$color__bg-200: #639C91;
$color__bg-300: #5C9891;
$color__bg-500: #037482;

$color__grey: #F3F3F3;
$color__title-light: #3B3B3B;


// Theme Cerisier jap


// Theme cerisier jap
$color-1: var(--color-1);
$color-1-font: var(--color-1-font);
$color-2: var(--color-2);
$color-2-font: var(--color-2-font);
$color-3: var(--color-3);
$color-3-font: var(--color-3-font);

$gradient-1 : linear-gradient(30deg, $color-2 0%, $color-3 100%);


$color__text: var(--color-text);
$color__title: var(--color-title);
$color__success: #95c11e;
$color__error: #F30B2D;

$color__overlay: rgba(0, 0, 0, 0.7);

$color__page-bg: var(--color-page);