& {
  .form .formImagePick {
    .form__label {
      font-size: 1.6rem;
      color: white;
      margin-bottom: 1rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-left: -2rem;
      margin-top: -2rem;

      li {
        max-width: calc(50% - 2rem);
        width: 18rem;
        margin-left: 2rem;
        margin-top: 2rem;
      }
    }

    li {
      position: relative;

      input {
        position: absolute;
        top: 1rem;
        left: 1rem;
        opacity: 0.1;
      }

      label {
        border: solid 2px transparent;
        opacity: 0.7;
        transition: opacity 0.25s ease;
        cursor: pointer;
        height: 15rem;
        border-radius: 15px;
        overflow: hidden;
        display: flex;

        &:hover {
          opacity: 1;
        }
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      input:checked+label {
        border-color: $color__bg-100;
        opacity: 1;
      }
    }
  }

  // RWD
  @include RWD(mobile) {
    .formImagePick {}
  }
}