& {

  .form__field {
    border: 1px solid #adadad;

    border-radius: 4px;
    padding: 1.8rem 2rem 1.2rem;
    width: 100%;
    font-family: $font__main;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2em;
    color: $color__text;
    background-color: transparent;

    &::placeholder {
      opacity: 0.5;
    }

    &:focus {
      border-color: $color__title;
      outline: none;
    }

    &[disabled] {
      // background-color: #dddddd;
      color: rgba(black, 0.5);
      cursor: not-allowed;

      &+label {
        color: rgba(black, 0.5) !important;
      }
    }
  }

  // Hauteur fixe des inputs
  input.form__field {
    height: 5rem;
  }

  textarea {
    resize: none;
  }


  // Labels flottants

  input:not([type="radio"]):not([type="checkbox"]),
  select,
  textarea {
    pointer-events: all;

    &+label {
      pointer-events: none;
      position: absolute;
      top: 2.5rem;
      left: 2rem;
      transform: translateY(-50%);
      // padding: 0 5px;
      transition: font-size 0.25s, top 0.25s, transform 0.25s,
        background 0s 0.25s, opacity 0.25s;
      opacity: 0.8;
      font-family: $font__main;
      font-weight: 600;
      font-size: 1.5rem;
      color: $color__text;
    }

    &:focus+label,
    &[value]:not([value=""])+label {
      top: 0px;
      transform: none;
      font-size: 1rem;
      // opacity: 1;
    }
  }

  textarea.form__field {
    padding-top: 2.5rem;
  }

  textarea {
    &+label {
      top: 2.5rem
    }

    &:focus+label,
    &[value]:not([value=""])+label {
      top: .5rem;
    }
  }
}