.form--material {
  @import "material/_layout";
  @import "material/_fieldset";

  @import "material/_input";
  @import "material/_file";
  // @import "material/_imagePick";
  @import "material/_info";

  @import "material/_checkbox";
  @import "material/_radio";
  @import "material/_multichoice";

  @import "material/_select";

  @import "material/_validation";
  @import "material/_states";

  margin-top: 6rem;
  position: relative;

  @include RWD(mobile) {
    margin-top: 3rem;
  }


}