@mixin headerWhite() {
  .burger-icon span {
    background-color: $color-1-font;
  }

  .label--main,
  .label--trigger {
    color: $color-1-font;
  }

  .dropdown-arrow {
    fill: $color-1-font;
  }

}