.flex-fill {
  flex: 1;
}

.align-center {
  text-align: center;
}

.align-end {
  text-align: right;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.w60 {
  width: 72rem;
  max-width: 100%;
}

.fake-bcover {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ratio__wrapper {
  position: relative;
  max-width: 100%;
  width: 100%;
  padding-bottom: 56.15%;
  overflow: hidden;

  &>* {
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section {
  padding-top: 6rem;
  padding-bottom: 8rem;

  .section-title {
    font-size: 5rem;
    line-height: 1.2;
    color: $color__title;
    text-align: center;

    &--small {
      font-size: 3.5rem;
    }
  }

  .section-description {
    text-align: center;
    margin-top: 1rem;
  }

  .section-content {
    margin-top: 4rem
  }

  // Big
  &.section-big {
    padding-top: 10rem;
    padding-bottom: 12rem;

    .section-content {
      margin-top: 6rem;
    }
  }

  // Colors
  &--grey {
    background-color: $color__grey;

    .section-title {
      color: $color__text;
    }
  }

  &--1 {
    background-color: $color-1;
    color: $color-1-font;

    .section-title {
      color: $color-1-font
    }
  }

  &--2 {
    background-color: $color-2;
    color: $color-2-font;

    .section-title {
      color: $color-2-font
    }
  }

  &--3 {
    background-color: $color-3;
    color: $color-3-font;

    .section-title {
      color: $color-3-font
    }
  }

  &--gradient {
    background: $gradient-1;
    color: $color-1-font;

    .section-title {
      color: $color-1-font
    }
  }
}

.pt0 {
  padding-top: 0 !important;
}

.has-cut {
  position: relative;

  &:after {
    background-color: $color__page-bg;
    content: "";
    position: absolute;
    bottom: -0.1rem;
    right: 0;
    width: 100%;
    height: 7rem;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    // transform: translateY(100%);
    z-index: 1;
  }
}

%hr {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 3rem;
    height: 2px;
    z-index: 2;
    transform: translateX(-50%) translateY(-2rem);
    background-color: $color-1;

  }
}

.hr {

  &-top {
    @extend %hr;
  }

  &--left {
    &:before {
      left: 0;
      transform: translateY(-2rem);
    }
  }
}